<div class="bg-light border-bottom">
    <div class="container">
        <div class="category-menu py-2 bg-light border-bottom">
            <div class="container">
                <ul class="nav">
                    {% for category in categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'products:product_list_by_category' category.slug %}" id="cat{{ category.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ category.name }}
                        </a>
                        {% if category.children.exists %}
                        <ul class="dropdown-menu" aria-labelledby="cat{{ category.id }}">
                            {% for subcategory in category.children.all %}
                            <li>
                                <a class="dropdown-item" href="{% url 'products:product_list_by_category' subcategory.slug %}">
                                    {{ subcategory.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
