<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">About Us</h5>
                <p>Multi-Vendor Marketplace is your one-stop destination for all shopping needs with thousands of
                    products from verified sellers.</p>
            </div>

            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="{% url 'products:browse_products' %}" class="text-white">All Products</a></li>
                    <li><a href="{% url 'vendors:vendor_list' %}" class="text-white">Our Vendors</a></li>
                    <li><a href="{% url 'vendors:become_vendor' %}" class="text-white">Sell on Marketplace</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Contact Us</a></li>
                    <li><a href="#" class="text-white">FAQs</a></li>
                    <li><a href="#" class="text-white">Shipping Policy</a></li>
                    <li><a href="#" class="text-white">Return Policy</a></li>
                    <li><a href="#" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Connect With Us</h5>
                <div class="social-links">
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-linkedin-in fa-lg"></i></a>
                </div>
                <div class="mt-3">
                    <h6>Subscribe to our newsletter</h6>
                    <form action="#" class="d-flex">
                        <input type="email" class="form-control" placeholder="Your email">
                        <button type="submit" class="btn btn-primary ms-2">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>

        <hr class="my-4 bg-light">

        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2025 Multi-Vendor Marketplace. All Rights Reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <div class="payment-methods">
                    <i class="fab fa-cc-visa fa-2x me-2"></i>
                    <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                    <i class="fab fa-cc-paypal fa-2x me-2"></i>
                    <i class="fab fa-cc-apple-pay fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
